<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pnd Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" /> -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center mb-4">Welcome PMD Application</h2>
				<div class="row">
					<div class="col-md-6 mx-auto">
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Login</h3>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off" id="formLogin"
									novalidate="" method="POST">
									<div class="form-group">
										<label for="uname1">Username</label> 
										<input type="text"
											class="form-control form-control-lg rounded-0" name="username"
											id="username" required="required" autofocus="autofocus">
									</div>
									<div class="form-group">
										<label>Password</label> 
										<input type="password" name="password"
											class="form-control form-control-lg rounded-0" id="password"
											required="required" autocomplete="password">
										<div class="invalid-feedback d-block" th:if="${param.error}">
											Username or Password invalid, please verify
										</div>
									</div>

									<!-- Sign in button -->
    								<button class="btn btn-info btn-block my-4" type="submit">Login</button>
    								
    								<!-- Register -->
								    <p>Not a member?
								        <a th:href="@{/register}">Register</a>
								    </p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>