<!DOCTYPE html>
<html lang="en">
	
<head>
	<title>Pmd Report</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
		<div th:insert="fragments/header :: menu"></div>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<div id = "downloadXML"><a href="#">Download Report as XML</a></div>
					<table>
						
						<tbody>

							<th:block th:each="pmd : ${listPMD}">
								<tr>
										<td class="column1"><a th:href="@{/pmd-view/} + ${pmd.id}">
											<p th:text="${pmd.content}"></p>
										</a></td>
								</tr>
								<tr>
										<td class="column4 cursor-pointer">
											<a th:href="@{/pmd-list/}+${pmd.fileID} + @{/}+ ${sort}">Priority: <span th:text="${pmd.priority}"></span></a>
										</td>
									<td class="column4">
										<p>BeginLine: <span th:text="${pmd.beginLine}"></span></p>
									</td>
									<td class="column4">
									<p>EndLine: <span th:text="${pmd.endLine}"></span></p>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="mt-3">
					<button type="button" class="btn btn-primary" id="btn-back">Back to analysis</button>
				</div>
			</div>
		</div>

	</div>
<style>
	#downloadXML{
		float: right;
	}
</style>



	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script>
		$('#btn-back').click(function () {
			window.location.href = "/";
		});

	</script>

	<script src="js/main.js"></script>

</body>

</html>