<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PMD REPORT</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: menu"></div>
	<div class="container">
		<h3>
			<a th:href="@{/pmd-list}">Return to List Pmd_Report</a>
		</h3>
		<br /> <br />

		<table class="table table-bordered">
			<tr>
				<th>Class:</th>
				<td><p th:text="${pmd.pmdClass}" /></td>
			</tr>
			<tr>
				<th>Package:</th>
				<td><p th:text="${pmd.packagePmd}" /></td>
			</tr>
			<tr>
				<th>Begin column:</th>
				<td><p th:text="${pmd.beginColumn}" /></td>
			</tr>
			<tr>
				<th>End column:</th>
				<td><p th:text="${pmd.endColumn}" /></td>
			</tr>
			<tr>
				<th>Begin line:</th>
				<td><p th:text="${pmd.beginLine}" /></td>
			</tr>
			<tr>
				<th>End line:</th>
				<td><p th:text="${pmd.endLine}" /></td>
			</tr>
			<tr>
				<th>Content:</th>
				<td><p th:text="${pmd.content}" /></td>
			</tr>
			<tr>
				<th>External Info Url:</th>
				<td><p th:text="${pmd.externalInfoUrl}" /></td>
			</tr>
			<tr>
				<th>Priority:</th>
				<td><p th:text="${pmd.priority}" /></td>
			</tr>
			<tr>
				<th>Rule:</th>
				<td><p th:text="${pmd.rule}" /></td>
			</tr>
			<tr>
				<th>Rule set:</th>
				<td><p th:text="${pmd.ruleSet}" /></td>
			</tr>
		</table>
	</div>
</body>
</html>