<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center mb-4">Welcome PMD Application</h2>
				<div class="row">
					<div class="col-md-6 mx-auto">
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Register</h3>
							</div>
							<div class="card-body">
								<!-- Default form register -->
								<form class="text-center border border-light" action="#"
									th:action="@{/register}" th:object="${user}" method="post">

									<!-- Fullname -->
									<input type="text" id="fullname" name="fullname" autofocus="autofocus"
										class="form-control form-control-lg mb-4" placeholder="Fullname" required="required">

									<!-- Username -->
									<input type="text" id="username" name="username"
										class="form-control form-control-lg mb-4" placeholder="Username" required="required">

									<!-- Password -->
									<input type="password" id="password" name="password"
										class="form-control form-control-lg" placeholder="Password" required="required">
										
									<small id="error" class="form-text text-danger mb-4"
										th:utext="${error}"></small>

									<!-- Sign up button -->
									<button class="btn btn-info my-4 btn-block" type="submit">Register</button>
									
									<!-- Register -->
								    <p>You have an account?
								        <a th:href="@{/login}">Login</a>
								    </p>

									<span class="text-success" th:utext="${successMessage}"></span>
								</form>
								<!-- Default form register -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
